Source: pmaccoord
Section: devel
Priority: extra
Maintainer: Daron Chabot <dchabot@bnl.gov>
Build-Depends: debhelper (>= 9), epics-debhelper (>= 8.14~),
               epics-dev, 
               epics-asyn-dev,
               epics-motor-dev,
Standards-Version: 3.9.6
Homepage: http://controls.diamond.ac.uk/downloads/support/pmacCoord

Package: epics-pmaccoord-dev
Architecture: any
Depends: libpmaccoord,
         epics-pmacasyn-dev (>= 3.10.12-9~),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Description: Support for controlling Delta Tau PMAC CS from EPICS.
 Contains support files (*.dbd) necessary for creating IOC programs
 to control Delta Tau PMAC Coordinate Systems using the EPICS/synApps
 Motor Record. Example IOCs, *.pmc files, and more is included.
 .
 This package provides dbd and headers required by applications.

Package: libpmaccoord
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: epics-pmaccoord-dev
Description: Library for control of PMAC CS from EPICS.
 This library contains support for interfacing Delta Tau PMAC
 Coordinate Systems with the EPICS Motor Record.
 .
 This package provides shared libraries.
