Source: pmaccoord
Section: devel
Priority: extra
Maintainer: Daron Chabot <dchabot@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~), epics-debhelper (>= 6~),
                epics-synapps-dev (>= 20141009), 
                rtems-synapps-mvme3100 (>= 20141009), 
Standards-Version: 3.9.4
X-Rtems-Build-Depends: rtems-epics, rtems-synapps,
Homepage: http://controls.diamond.ac.uk/downloads/support/pmacCoord
#Vcs-Git: git://git.debian.org/collab-maint/pmaccoord.git

Package: libpmaccoord1.11
Section: libs
Architecture: any
Depends: epics-synapps-dev (>= 20141009),
         ${shlibs:Depends}, ${misc:Depends}
Recommends: epics-pmaccoord-dev (= ${binary:Version})
Description: Library for control of PMAC CS from EPICS.
 This library contains support for interfacing Delta Tau PMAC
 Coordinate Systems with the EPICS Motor Record.
 .
 This package provides shared libraries.

Package: epics-pmaccoord-dev
Architecture: any
Depends: libpmaccoord1.11 (= ${binary:Version}),
            epics-pmacasyn-dev (>= 3.10.12-3~),
            epics-synapps-dev (>= 20141009),
            ${shlibs:Depends}, ${misc:Depends}
Description: Support for controlling Delta Tau PMAC CS from EPICS.
 Contains support files (*.dbd) necessary for creating IOC programs
 to control Delta Tau PMAC Coordinate Systems using the EPICS/synApps
 Motor Record. Example IOCs, *.pmc files, and more is included.

Package: rtems-pmaccoord-mvme3100
Architecture: any
Depends: epics-pmaccoord-dev (= ${binary:Version}),
        rtems-synapps-mvme3100 (>= 20141009), ${misc:Depends}
Description: pmaccoord support for the mvme3100
 This library contains support for interfacing Delta Tau PMAC
 Coordinate Systems with the EPICS Motor Record.
 .
 This package contains support for the MVME3100 PowerPC based VME SBC.
