Source: pmaccoord
Priority: extra
Maintainer: Darron Chabot <dchabot@dev32new.cs.nsls2.local>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pmaccoord.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pmaccoord.git;a=summary

Package: pmaccoord-dev
Section: libdevel
Architecture: any
Depends: pmaccoordBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: pmaccoordBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
